@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.list {
    position: relative;
    display: flex;
    flex-direction: column;
}

.list li {
    list-style: none;
}

.list li a {
    position: relative;
    display: flex;
    font-size: 3.6em;
    line-height: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

